<ul class="nav nav-pills nav-stacked sidebar-backoffice">
  <li role="presentation" class="active">
    <%= link_to t('backoffice-sidebar.categories'), backoffice_categories_index_path %>
  </li>
  <li role="presentation"><a href="#"><%= t('backoffice-sidebar.lingeries')%></a></li>
</ul>
