<ul class="nav nav-pills nav-stacked sidebar-backoffice">
  <li role="presentation" class="active"><a href="#"><%= t('backoffice-sidebar.categories')%></a></li>
  <li role="presentation"><a href="#"><%= t('backoffice-sidebar.lingeries')%></a></li>
</ul>
